@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h5 {
    @apply font-serif font-semibold;
  }

  h1 {
    @apply text-4xl sm:text-5xl xl:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl xl:text-5xl;
  }

  h3 {
    @apply text-2xl sm:text-3xl xl:text-4xl;
  }

  h5 {
    @apply text-xl tracking-wide sm:text-2xl;
  }

  /* slick carousel */
  .slick-dots {
    position: unset;
    @apply py-3;
  }

  .slick-dots li button::before {
    @apply text-xs;
  }

  .slick-dots li.slick-active button::before {
    @apply text-xs text-dark-green;
  }

  /* campground cards */
  .campground-card:hover h5 {
    @apply underline;
  }

  /* login, signup */
  .auth-form {
    @apply w-full max-w-sm pb-8;
  }

  .auth-form label {
    @apply mb-1 block space-x-2;
  }

  .auth-form fieldset {
    @apply mb-6;
  }

  .auth-form input[type="email"],
  .auth-form input[type="password"] {
    @apply w-full appearance-none rounded-full border border-gold-green px-5 py-3 leading-tight focus:border-dark-green focus-visible:border-0;
  }

  .auth-form input[type="email"]:focus-visible,
  .auth-form input[type="password"]:focus-visible {
    @apply border border-dark-green outline-none;
  }

  .auth-form input[type="submit"] {
    @apply mt-2 w-full cursor-pointer rounded-full border border-dark-green bg-dark-green px-4 py-3 leading-tight text-white focus:outline-none;
  }
}

.slick-list {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
